<div id="maincont">
  <h2>Portraits</h2>
  <div class="sidenav">
    <a routerLink="/stills">Next Collection</a>
    <a routerLink="/photos">Photos</a>
    <a routerLink="/favorites">Prev Collection</a>
  </div>
  <div class="firstimg">
    <p class="num1">001</p>
  </div>
  <div class="twoimgs">
    <div class="one">
      <p class="num2">002</p>
    </div>
    <div class="two">
      <p class="num3">003</p>
    </div>
  </div>
  <div class="lastimg">
    <p class="num4">004</p>
  </div>
</div>
