<div id="maincont">
  <h2>Stills</h2>
  <div class="sidenav">
    <a routerLink="/ports">Next Collection</a>
    <a routerLink="/photos">Photos</a>
    <a routerLink="/favorites">Prev Collection</a>
  </div>
  <div class="twoimg">
    <div class="one">
      <p>001</p>
    </div>
    <div class="two">
      <p>002</p>
    </div>
  </div>
  <div class="firstimg">
    <p>003</p>
  </div>
  <div class="twoimgs2">
    <div class="four">
      <p>004</p>
    </div>
    <div class="five">
      <p>005</p>
    </div>
  </div>
  <div class="lastimg">
    <p>006</p>
  </div>
</div>