div#maincont {
  h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-left: 20%;
  }

  P {
    color: #000;
    background-color: #fff;
    width: 30px;
    border-radius: 7px;
    margin-left: 15px;
    padding: 0 10px;
  }

  section {
    padding: 0;
    margin: 0;
  }

  div.sidenav {
    margin: auto;
    padding: auto;
    float: left;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-between;
    position: fixed;
    transform: translatey(-70%);

    a {
      color: #fff;
      padding: .8rem .8rem;
      writing-mode: vertical-lr;
      text-orientation: upright;
      font-weight: bold;
      font-size: .875rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
  .twoimg {
    padding-left: 20%;
    margin-bottom: 5rem;
    height: 110vh;
    display: flexbox;

    .one {
      background-image: url("/assets/images/IMG_9562-101.jpg");
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      height: 50vh;
      width: 100%;
      margin-bottom: 5rem;

      >p {
        position: absolute;
        bottom: 10;
        left: 10;
      }
    }

    .two {
      background-image: url("/assets/images/IMG_9552-303.jpg");
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      height: 50vh;
      width: 100%;

      >p {
        position: absolute;
        bottom: 10;
        left: 10;
      }
    }
  }
  .firstimg {
      background-image: url("/assets/images/IMG_5879-1616.jpg");
      height: 80vh;
      width: 100%;
      background-size: cover;
      border-radius: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      margin-bottom: 5rem;

      >p {
        position: absolute;
        bottom: 10;
        left: 10;
      }
  }
  div.twoimgs2 {
    padding-left: 20%;
    margin-bottom: 5rem;
    height: 110vh;
    display: flexbox;

      .four {
        background-image: url("/assets/images/TheEssenceofSomeone\(80f9\).jpg");
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        height: 50vh;
        width: 100%;
        margin-bottom: 5rem; 

        >p {
          position: absolute;
          bottom: 10;
          left: 10;
        }
      } 
      .five {
        background-image: url("/assets/images/ella.jpg");
        background-size: cover;
        background-origin: center;
        border-radius: 10px;
        height: 50vh;
        width: 100%;

        >p {
          position: absolute;
          bottom: 10;
          left: 10;
        }
      }
  }
  .lastimg {
    background-image: url("/assets/images/IMG_5899-101.jpg");
    height: 80vh;
    width: 100%;
    background-size: cover;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    >p {
      position: absolute;
      bottom: 10;
      left: 10;
    }
  }
}

/* Media Quires Begin Here */

@media (min-width: 768px) {
  div#maincont {
    h2 {
      font-size: 5rem;
    }
  
    div.sidenav {
      margin: 2rem;
      height: 50vh;
      transform: translatey(-50%);
  
      a {
        padding: .8rem 1rem;
        font-size: .875rem;
      }
    }
    .twoimg {
      clear: both;
      display: flex;
      justify-content: space-between;
  
      .one {
        background-image: url("/assets/images/IMG_9562-101.jpg");
        width: 40%;
        align-self: flex-start;
      }
  
      .two {
        background-image: url("/assets/images/IMG_9552-303.jpg");
        width: 40%;
        align-self: flex-end;
      }
    }
    .firstimg {
        background-image: url("/assets/images/IMG_5879-1616.jpg");
        width: 80%;
    }
    div.twoimgs2 {
      height: 110vh;
      clear: both;
      display: flex;
      justify-content: space-between;
  
        .four {
          background-image: url("/assets/images/TheEssenceofSomeone\(80f9\).jpg");
          width: 40%;
          align-self: flex-start;
        } 
        .five {
          background-image: url("/assets/images/ella.jpg");
          width: 40%;
          align-self: flex-end;
        }
    }
    .lastimg {
      background-image: url("/assets/images/IMG_5899-101.jpg");
    }
}
}