<div class="container2">
  <h2>Photos</h2>
  <div id="img">
    <div class="portriats">
        <a routerLink="/ports"><img src="assets/images/IMG_9782-404.jpg" alt="Woman Black and White"/></a>
      <a class="capts" routerLink="/ports">Portraits</a>
    </div>
    <div class="stills">
        <a routerLink="/stills"><img src="assets/images/IMG_9562-101.jpg" alt="Shot Glasses"/></a>
      <a class="capts" routerLink="/stills">Stills</a>
    </div>
    <div class="favs">
        <a routerLink="/favorites"><img src="assets/images/GradPhotos_Prelim_/PreLim_Edits (24 of 34).jpg" alt="Duquesne Grad On Field"/></a>
      <a class="capts" routerLink="/favorites">Favorites</a>
    </div>
  </div>
  <p>More collections will be added soon</p>
</div>
