div#maincont {
  h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-left: 20%;
  }

  P {
    color: #000;
    background-color: #fff;
    width: 30px;
    border-radius: 7px;
    margin-left: 15px;
    padding: 0 10px;
  }

  section {
    padding: 0;
    margin: 0;
  }

  div.sidenav {
    margin: auto;
    padding: auto;
    float: left;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-between;
    position: fixed;
    transform: translatey(-70%);

    a {
      color: #fff;
      padding: .8rem .8rem;
      writing-mode: vertical-lr;
      text-orientation: upright;
      font-weight:bold;
      font-size: .875rem;

      &:hover {
        cursor: pointer;
      }
    }

  }

  .twoimg {
    padding-left: 20%;
    margin-bottom: 5rem;
    height: 110vh;
    display: flexbox;

    .one {
      background-image: url("/assets/images/GradPhotos_Prelim_/PreLim_Edits\ \(8\ of\ 34\).jpg");
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      height: 50vh;
      width: 100%;
      margin-bottom: 5rem;

      >p.num1 {
        position: absolute;
        bottom: 10;
        left: 10;
      }
    }

    .two {
      background-image: url("/assets/images/GradPhotos_Prelim_/PreLim_Edits\ \(22\ of\ 34\).jpg");
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      height: 50vh;
      width: 100%;

      >p.num2 {
        position: absolute;
        bottom: 5;
        left: 10;
      }
    }
  }

  div.lastimg {
    background-image: url("/assets/images/IMG_9867-909.jpg");
    height: 80vh;
    width: 100%;
    background-size: cover;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;

    >p.num3 {
      position: absolute;
      bottom: 10;
      left: 10;
    }
  }
}

/* Media Queries Begin Here*/

@media (min-width: 768px) {
  div#maincont {
    h2 {
      font-size: 5rem;
    }
  
    div.sidenav {
      margin: 2rem;
      height: 50vh;
      transform: translatey(-50%);
  
      a {
        padding: .8rem 1rem;
        font-size: .875rem;
      }
  
    }
  
    div.twoimg {
      padding-left: 20%;
      margin-bottom: 5rem;
      height: 110vh;
      clear: both;
      display: flex;
      justify-content: space-between;
  
      .one {
        background-image: url("/assets/images/GradPhotos_Prelim_/PreLim_Edits\ \(8\ of\ 34\).jpg");
        width: 45%;
        align-self: flex-start;
        margin-bottom: 0;
      }
  
      .two {
        background-image: url("/assets/images/GradPhotos_Prelim_/PreLim_Edits\ \(22\ of\ 34\).jpg");
        width: 45%;
        align-self: flex-end;
      }
    }
  
    div.lastimg {
      background-image: url("/assets/images/IMG_9867-909.jpg");
    }
  }
}