<div class="landing">
  <div id="heroinfo">
    <section class="header">
      <h1>The Return of Natural Beauty</h1>
      <p>Here true beauty is captured and highlighted. Portiature, stills and everyday items are taken to new heights.
      </p>
      <button><a routerLink="/photos">View More</a></button>
    </section>
  </div>
  <div class="heroimg">
    <img src="assets/images/IMG_9737-202.jpg" alt="Landing Page Image" />
  </div>
</div>
<br>
<div class="about">
  <H2>About</H2>
  <P>Moses Photography was created based on the principles of natural beauty, and realist beauty standards are highly
    valued making us against hyper editing and photoshopping. We aim to help improve the public perception of body
    image, especially regarding women by presenting beauty and form in its unadulterated state.</P>
  <p>Moses Photography is where photography is taken to the next level. Through the utilization of portraiture, stills
    and everyday items are taken to new heights. Moses Phototography incorporates industry techniques while adding his
    flare to
    showcase the beauty of each individual and item captured.</p>
  <p>Moses Photography also showcases the beauty of the ordinary and mundane. We wish to enlighten our audience so that
    they will learn to take a step back and appreciate the beauty of their surroundings to stop society from taking it
    for granted.</p>
</div>